.calendar{
    background-color: rgba(200, 200, 180, 0.5);
    box-shadow: 1px 1px 10px 0.5px rgba(0, 0, 0, 0.5);
padding: 0.8% 1% 0.8% 1%;
margin-bottom: 15rem;

}

.calendarContainer{
    height: 30rem;
    width: 95%;
    margin: 1.5% auto ;

    /* border: 2px solid #4f0341; */
    /* padding-bottom: 5rem; */
    
}

.rbc-today{
    background-color: rgba(150, 150, 255, 0.30);

}

.rbc-off-range-bg{
    background-color: rgb(150, 130, 150);
}
.rbc-event{
    background-color: #6174ad;
}

.rbc-show-more{
    background-color: rgb(255, 255, 255);
    border-radius: 5;
}
/* .rbc-button-link{
    background-color: rgb(255, 255, 255);
} */

.rbc-toolbar {
    margin: auto 0;
    padding: 0.5rem 2%;
    border-radius: 4px;
    font-size: 17px;
    background-color: #4f0341;
    color: #eaeaea;

}

.rbc-toolbar button {
    border-radius: 6px;
    color: #eaeaea;
    background-color: #4f0341;
    margin: 0px auto;
/* display: none; */
}


.rbc-toolbar-label {
    margin: 0px 2%;
    padding: 0.375rem 1rem;
    font-size: larger;
    background-color: #4f0341;
    color: #eaeaea;
    border: none;

}

/* .newResButton{
    margin-bottom: 10px;
} */