/* .cristal {

    padding: 5rem;
    background-color: #33003388;
    backdrop-filter: blur(7px);
    box-sizing: border-box;
    margin: auto;
}



.form-check-input:checked {
    background-color: rgb(79, 3, 65, .9) !important;
    border-color: rgb(79, 3, 65) !important;
}

/* border: 5px solid rgb(79, 3, 65, 0.5); #4F0341*/
/*
.form-check-input:focus {
    border-color: #4f034190 !important;
    box-shadow: 0 0 0 .25rem rgba(79, 3, 65, .25) !important;
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%23634190'/></svg>") !important;
}

.form-switch .form-check-input:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%23f9f9f9'/></svg>") !important;
} */


/* .form-control:focus {
    border-color: #cc77b2 !important;
    box-shadow: 0 0 0 .25rem rgba(79, 3, 65, .25) !important;
} */

/* .registerButton{
    margin: 40%;
} */


.verPass{
margin-left: 85%;
margin-top: -84px;
width: 20px;
height: 20px;
}